.home-headwear-section {
  background-color: #e5e5e5;
  background-image: url("../images/homepage/about-background.svg");
  z-index: 0;
  position: relative;
  min-height: 600px;

  .container {
    .right {
      .image-headwear {
        height: 724px;
      }
    }
  }
}