.home-slider-section {
  background-image: url("../images/homepage/slide-background.png");
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  padding-top: 38px;
  padding-bottom: 250px;
  overflow-x: hidden;

  @media (max-width: 1345px) {
    background-size: 100% 100%;
    padding-top: 166px;
  }

  @media (max-width: 800px) {
    padding-bottom: 100px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 131px;
    max-width: 1508px;
    width: 94%;

    @media (max-width: 1345px) {
      row-gap: 30px;
    }

    .slide-row {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 119px;
      flex-wrap: wrap;

      @media (max-width: 1345px) {
        flex-direction: column;
      }

      .slide-holder {
        position: relative;
        width: 740px;
        height: 730px;

        @media (max-width: 800px) {
          transform: scale(0.6);
        }

        @media (max-width: 475px) {
          transform: scale(0.45);
        }

        @media (max-width: 340px) {
          transform: scale(0.4);
        }

        .slider-photo {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          z-index: 2;
          transition: all 1s ease;

          &.back {
            transform: translate(-50%,-50%) rotate(-13.05deg) scale(0.85);
            z-index: 1;
            left: 40%;
            top: 45%;
          }
        }

        .nft-photo {
          position: absolute;
          left: 47%;
          top: 50%;
          transform: translate(-50%,-50%);
          z-index: 2;
          transition: all 1s ease;

          &.back {
            transform: translate(-50%,-50%) scale(0.85);
            z-index: 1;
            left: 63%;
            top: 50%;
          }
        }

        .decor {
          position: absolute;
          z-index: 2;

          &.heart-left {
            left: 5%;
            bottom: 20%;
          }

          &.heart-right {
            right: 9%;
            bottom: 36%;
          }

          &.tape-left {
            left: 3%;
            bottom: -2%;
          }

          &.tape-right {
            right: 10%;
            bottom: -4%;
          }
        }

        .slider-navigation {
          position: absolute;
          top: 50%;
          cursor: pointer;
          z-index: 100;

          &.previous {
            left: 0;
          }

          &.next {
            right: 0;
          }
        }
      }

      .text-holder {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        @media (max-width: 800px) {
          margin-bottom: -100px;
          width: 100vw;
          align-items: center;
        }

        @media (max-width: 475px) {
          margin-bottom: -160px;
        }

        h2 {
          font-family: $heading-font;
          font-style: normal;
          font-weight: 800;
          font-size: 40px;
          line-height: 207%;
          color: #F6F6F6;
        }

        p {
          font-family: $paragraph-font;
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 22px;
          color: #F6F6F6;
          opacity: 0.6;
          width: 403px;

          @media (max-width: 800px) {
            width: 94%;
          }
        }

        a {
          background: #fff;
          border-radius: 8px;
          font-family: $button-font;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #363636;
          padding: 16px 59px;
          width: 197.25px;
        }
      }

      &:first-of-type {
        .slide-holder {
          @media (max-width: 1345px) {
            order: 2;
          }

          @media (max-width: 800px) {
            margin-bottom: -100px;
          }

          @media (max-width: 475px) {
            margin-bottom: -180px;
          }
        }
      }
    }
  }
}
