.home-first-section {
  background-image: url("../images/homepage/home-wallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1130px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;

  .wrap {
    width: 1440px !important;
    max-width: 1440px !important;

    .left,
    .right {
      width: 50%;
    }

    .left {
      .right-desc {
        padding-left: 76px;
        width: 479px;

        h1 {
          font-size: 72px;
          line-height: 83px;
          color: #FFFFFF;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          margin-bottom: 12px;
        }

        p {
          font-weight: 300;
          font-size: 18px;
          line-height: 22px;
          color: #FFFFFF;
          opacity: 0.6;
          margin-bottom: 34px;
          font-family: 'Inter Light';
        }

        a {
          width: 197.25px;
          height: 54.32px;
          display: flex;
          background: #FFFFFF;
          color: #363636;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          border-radius: 8px;
          justify-content: center;
          align-items: center;
          font-family: 'Inter Medium';
          margin-bottom: 121px;
        }

        .reel-line {
          width: 1130px;
          background: url('../images/homepage/reel-line.png');
          height: 171px;
          margin-left: -176px;
          position: relative;

          .image-wrapper {
            min-width: 507px;
            right: -40px;
            position: relative;

            .images {
              .active-image {
                height: 155px;
                width: 173px;
                border: 1px solid #FFF9EF;
                padding: 7px;
              }

              img {
                width: 149px;
                margin-left: 5px;
                margin-right: 5px;
                transition: 0.3s all ease;
                cursor: pointer;
              }
            }
          }
        }
      }

      .left-numbers {
        display: flex;
        max-height: 230px;
        min-width: 70px;
        justify-content: space-between;

        .numbers {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 10px 0 30px 0px;

          .number {
            font-family: 'Inter Medium';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            opacity: 0.6;
            transition: 0.3s all ease;
            cursor: pointer;
          }

          .active {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            opacity: 1;
          }
        }

        .line-holder {
          position: relative;

          .main-line {
            background-color: #c4c4c4;
            height: 219px;
            width: 1px;
            display: flex;
            position: relative;
          }

          .followup-line {
            background-color: #fff;
            height: 50px;
            width: 2px;
            display: flex;
            position: absolute;
            top: 0;
            transition: 0.3s all ease;
          }
        }
      }
    }

    .right {
      .image {
        img {
          width: 891px;
          height: auto;
          position: absolute;
          top: 0px;
          z-index: 0;
        }
      }
    }
  }
}