.home-slider-section {
  background-image: url("../images/homepage/slide-background.png");
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  padding-top: 38px;
  padding-bottom: 250px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 131px;
    max-width: 1508px;

    .slide-row {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 119px;

      .slide-holder {
        position: relative;
        width: 740px;
        height: 730px;

        .slider-photo {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          z-index: 2;
          transition: all 1s ease;

          &.back {
            transform: translate(-50%,-50%) rotate(-13.05deg) scale(0.85);
            z-index: 1;
            left: 40%;
            top: 45%;
          }
        }

        .nft-photo {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          z-index: 2;
          transition: all 1s ease;

          &.back {
            transform: translate(-50%,-50%) scale(0.85);
            z-index: 1;
            left: 60%;
            top: 45%;
          }
        }

        .decor {
          position: absolute;
          z-index: 2;

          &.heart-left {
            left: 5%;
            bottom: 20%;
          }

          &.heart-right {
            right: 9%;
            bottom: 36%;
          }

          &.tape-left {
            left: 3%;
            bottom: -2%;
          }

          &.tape-right {
            right: 10%;
            bottom: -4%;
          }
        }

        .slider-navigation {
          position: absolute;
          top: 50%;
          cursor: pointer;

          &.previous {
            left: 0;
          }

          &.next {
            right: 0;
          }
        }
      }

      .text-holder {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h2 {
          font-family: $heading-font;
          font-style: normal;
          font-weight: 800;
          font-size: 40px;
          line-height: 207%;
          color: #F6F6F6;
        }

        p {
          font-family: $paragraph-font;
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 22px;
          color: #F6F6F6;
          opacity: 0.6;
          width: 403px;
        }

        a {
          background: #fff;
          border-radius: 8px;
          font-family: $button-font;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #363636;
          padding: 16px 59px;
          width: 197.25px;
        }
      }
    }
  }
}
