.post-type-archive-product {
  background-color: #FFF9EF;
  background-image: url("../images/homepage/about-background.svg");
  overflow-x: hidden;

  .wrap {
    .content {
      .main {
        .shop-wrapper {
          position: relative;

          .shop-top {
            position: absolute;
            top: 0;
            z-index: 4;
            min-width: 1920px;
          }

          .shop-title {
            font-family: $heading-font;
            font-style: normal;
            font-weight: 800;
            font-size: 40px;
            line-height: 83px;
            z-index: 5;
            background-image: url("../images/shop/shop-top.png");
            text-align: center;
            padding-top: 77px;
            padding-bottom: 163px;
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;

            @media (min-width: 1921px) {
              background-size: 100%;
            }

            span {
              background-image: url("../images/shop/heading-bg.png");
              background-position: center;
              width: 280px;
              height: 143px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #141414;
            }
          }

          .content {
            position: relative;
            width: 100%;
            height: 1147px;
            top: 220px;

            @media (max-width: 880px) {
              height: 2650px;
            }

            .category-holder {
              position: absolute;
              background-image: url("../images/shop/shop-net.svg");
              height: 100%;
              width: 100%;
              padding-top: 100px;

              @media (min-width: 1921px) {
                width: 1920px;
                border-left: solid 3px #000;
                border-right: solid 3px #000;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }

              @media (max-width: 880px) {
                display: flex;
                flex-direction: column;
                padding-left: 40px;
                padding-right: 40px;
              }

              .cat-name {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 253px;
                position: absolute;

                @media (max-width: 880px) {
                  position: static;
                }

                .cat-image {
                  width: 253px;
                  height: 216px;
                  background-image: url("../images/shop/category-default.svg");
                  background-size: 120px 178px;
                  background-position: 50% 50%;
                  background-repeat: no-repeat;
                }

                .polo {
                  background-image: none;
                  position: relative;

                  img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: 0.3s all ease;
                    z-index: 10;
                    width: 120px;
                  }

                  .active {
                    opacity: 0;
                    z-index: 11;

                    @media (max-width: 880px) {
                      opacity: 1;
                    }
                  }

                  .default {
                    @media (max-width: 880px) {
                      opacity: 0;
                    }
                  }
                }

                .headwear {
                  background-image: none;
                  position: relative;

                  img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: 0.3s all ease;
                    z-index: 10;
                    width: 120px;
                  }

                  .active {
                    opacity: 0;
                    z-index: 11;

                    @media (max-width: 880px) {
                      opacity: 1;
                      width: 205px;
                    }
                  }

                  .default {
                    @media (max-width: 880px) {
                      opacity: 0;
                    }
                  }
                }

                .shirts {
                  background-image: none;
                  position: relative;

                  img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: 0.3s all ease;
                    z-index: 10;
                    width: 120px;
                  }
                }

                .hoodie {
                  background-image: none;
                  position: relative;

                  img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: 0.3s all ease;
                    z-index: 10;
                    width: 120px;
                  }

                  .active {
                    opacity: 0;
                    z-index: 11;

                    @media (max-width: 880px) {
                      opacity: 1;
                    }
                  }

                  .default {
                    @media (max-width: 880px) {
                      opacity: 0;
                    }
                  }
                }

                .lmtd {
                  background-image: none;
                  position: relative;

                  img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: 0.3s all ease;
                    z-index: 10;
                    width: 120px;
                  }

                  .active {
                    opacity: 0;
                    z-index: 11;

                    @media (max-width: 880px) {
                      opacity: 1;
                    }
                  }

                  .default {
                    @media (max-width: 880px) {
                      opacity: 0;
                    }
                  }
                }

                .merch {
                  background-image: none;
                  position: relative;

                  img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: 0.3s all ease;
                    z-index: 10;
                    width: 120px;
                  }

                  .active {
                    opacity: 0;
                    z-index: 11;

                    @media (max-width: 880px) {
                      opacity: 1;
                    }
                  }

                  .default {
                    @media (max-width: 880px) {
                      opacity: 0;
                    }
                  }
                }

                .accs {
                  background-image: none;
                  position: relative;

                  img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 10;
                    width: 120px;
                  }

                  .active {
                    opacity: 0;
                    z-index: 11;
                  }
                }

                .category-text {
                  position: relative;
                  height: 120px;
                  width: 320px;
                  // display: none;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  img {
                    position: absolute;
                  }

                  .left {
                    z-index: 10;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    overflow: hidden;
                    width: 0;
                    height: 100%;
                    transition: .5s ease;
                    opacity: 0;

                    @media (max-width: 880px) {
                      opacity: 1;
                      width: 100%;
                    }
                  }

                  .right {
                    z-index: 11;
                    bottom: 0;
                    left: 100%;
                    right: 0;
                    overflow: hidden;
                    width: 0;
                    height: 100%;
                    transition: .5s ease;
                    opacity: 0;

                    @media (max-width: 880px) {
                      opacity: 1;
                      width: 100%;
                      left: 0;
                    }
                  }

                  span {
                    font-family: $heading-font;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 30px;
                    line-height: 45px;
                    color: #141414;
                    border-radius: 20px;
                    padding: 15px;
                    z-index: 12;
                    opacity: 0;
                    transition: .5s ease;

                    @media (max-width: 880px) {
                      opacity: 1;
                    }
                  }
                }

                &:hover {
                  text-decoration: none;

                  .cat-image {
                    img {
                      width: 145px;
                    }

                    .active {
                      opacity: 1;
                    }
                  }

                  .hoodie {
                    .active {
                      opacity: 1;
                      width: 190px;
                      top: 54%;
                      left: 53%;
                    }
                  }

                  .headwear {
                    .active {
                      opacity: 1;
                      width: 255px;
                      top: 52%;
                      left: 51.5%;
                    }

                    .default {
                      width: 125px;
                    }
                  }

                  .polo {
                    .active {
                      opacity: 1;
                      top: 56%;
                      // left: 51.5%;
                    }
                  }

                  .accs {
                    .active {
                      opacity: 1;
                    }

                    .default {
                      opacity: 0;
                    }
                  }

                  .category-text  {
                    display: flex;

                    .left {
                      opacity: 1;
                      width: 100%;
                    }

                    .right {
                      opacity: 1;
                      width: 100%;
                      left: 0;
                    }

                    span {
                      opacity: 1;
                    }
                  }
                }
              }

              .cat-name:nth-child(1) {
                top: 602px;
                left: 339px;

                @media (max-width: 1520px) {
                  left: 80px;
                }

                @media (max-width: 880px) {
                  align-self: flex-start;
                }
              }

              .cat-name:nth-child(2) {
                top: 65px;
                left: 719px;

                @media (max-width: 1400px) {
                  left: 571px;
                }

                @media (max-width: 1100px) {
                  left: 383px;
                }

                @media (max-width: 880px) {
                  align-self: flex-end;
                }
              }

              .cat-name:nth-child(3) {
                top: 435px;
                left: 1054px;

                @media (max-width: 1520px) {
                  top: 507px;
                  left: 639px;
                }

                @media (max-width: 1400px) {
                  left: 485px;
                }

                @media (max-width: 1100px) {
                  left: 376px;
                }

                @media (max-width: 880px) {
                  align-self: flex-start;
                }
              }

              .cat-name:nth-child(4) {
                top: 712px;
                left: 1270px;

                @media (max-width: 1520px) {
                  left: auto;
                  right: 30px;
                }

                @media (max-width: 880px) {
                  align-self: flex-end;
                }
              }

              .cat-name:nth-child(5) {
                top: 104px;
                left: 1210px;

                @media (max-width: 1520px) {
                  left: auto;
                  right: 50px;
                }

                @media (max-width: 880px) {
                  align-self: flex-start;
                }
              }

              .cat-name:nth-child(6) {
                top: 157px;
                left: 150px;

                @media (max-width: 1520px) {
                  left: 30px;
                }

                @media (max-width: 880px) {
                  align-self: flex-end;
                }
              }

              .cat-name:nth-child(7) {
                top: 374px;
                left: 656px;

                @media (max-width: 1520px) {
                  left: 30px;
                }

                @media (max-width: 880px) {
                  align-self: flex-start;
                }
              }
            }
          }
        }
      }
    }
  }
}
