@font-face {
  font-family: "Inter Extra-Bold";
  font-weight: 800;
  src: url("../fonts/Inter-ExtraBold.ttf");
}

@font-face {
  font-family: "Inter Light";
  font-weight: 300;
  src: url("../fonts/Inter-Light.ttf");
}

@font-face {
  font-family: "Inter Medium";
  font-weight: 500;
  src: url("../fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter Regular";
  font-weight: 400;
  src: url("../fonts/Inter-Regular.ttf");
}

body {
  position: relative;
  background: #FFF9EF;
}

.text-light {
  color: $letter-color-white;
  font-size: 16px;
  line-height: 24px;
}

.text-dark {
  color: $primary-color;
  font-size: 16px;
  line-height: 24px;
}

#wpadminbar {
  position: fixed;
}

// Sve stari kod, nisam hteo da brisem mozda ti zatreba

// form {
//   display: flex;
//   flex-direction: column;

//   .woocommerce-form-row, .form-row {
//     display: flex;
//     flex-direction: column;

//     label {
//       font-family: $primary-font;
//       border-bottom: 1px solid #62AB37;
//       padding: 10px 0;
//       margin-bottom: 15px;
//       width: fit-content;
//     }

//     input {
//       padding: 10px;
//       border: 2px solid #0C0B08;
//       background: #fff;
//       font-family: $secondary-font;
//       color: #0C0B08;
//       border-radius: 0;
//     }
//   }
// }

// button {
//   width: 100%;
//   border: 2px solid #62AB37;
//   background: #0C0B08;
//   color: #fff;
//   font-family: $secondary-font;
//   padding: 15px;
//   border-radius: 4px;
//   font-weight: 700;
//   transition: 0.3s all ease;
//   font-size: 18px;

//   &:hover {
//     border: 2px solid #0C0B08;
//     background: #62AB37;
//     color: #0C0B08;
//   }
// }