/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$primary-color: #0c0b08;
$secondary-color: #62ab37;
$teriary-color: #5eeb5b;
$quartar-color: #61ff7e;
$letter-color-light: #a6ebc9;
$letter-color-white: #fff;

$primary-font: "Glego";
$secondary-font: "Gemunu";