.search {
  main.main {
    .page-header {
      background-image: url("../images/default/header-background.png");
      display: flex;
      align-items: flex-start;
      justify-content: center;
      height: 495px;
      padding-top: 100px;

      @media (max-width: 600px) {
        height: 295px;
        background-position: center center;
      }

      h1 {
        width: 694px;
        font-family: "Inter Extra-Bold", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 83px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 133px;
        max-width: 100%;
        text-align: center;

        @media (max-width: 600px) {
          width: 94%;
          background-position: center;
        }

        @media (max-width: 360px) {
          font-size: 30px;
          line-height: 60px;
        }
      }
    }

    .alert-holder {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .alert-warning {
        background: url("../images/default/tape.png");
        width: 694px;
        font-family: "Inter Extra-Bold", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 83px;
        color: rgb(20, 20, 20);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 133px;
        border: none;
        max-width: 100%;

        @media (max-width: 660px) {
          width: 100%;
          background-position: center;
          font-size: 30px;
          line-height: 40px;
        }
      }
    }

    .content {
      width: 100%;
      display: flex;
      justify-content: center;

      @media (max-width: 600px) {
        padding-top: 40px;
      }

      .search-articles-holder {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: 94%;
        width: 1508px;
        row-gap: 50px;

        .product {
          display: none;
        }

        .post {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 40px;
          width: 40%;

          @media (max-width: 900px) {
            width: 100%;
          }

          .article-top {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;

            .entry-title {
              position: relative;

              a {
                font-family: "Inter Extra-Bold", sans-serif;
                font-style: normal;
                font-weight: 800;
                font-size: 72px;
                line-height: 83px;
                color: #141414;
                z-index: 20;
                position: relative;

                @media (max-width: 520px) {
                  font-size: 40px;
                }
              }

              .tape-heading {
                position: absolute;
                left: -88px;
                top: -50px;
              }
            }

            .entry-meta {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              font-family: "Inter Light", sans-serif;
              font-style: normal;
              font-weight: 300;
              font-size: 18px;
              line-height: 22px;
              color: #141414;

              .byline {
                margin: 0;
                padding-right: 10px;
                border-right: 1px solid #141414;

                img {
                  width: 24px;
                  height: 24px;
                  border-radius: 100%;
                  border: 1px solid #fff;
                }
              }

              .updated {
                padding-left: 10px;
                border-left: 1px solid #141414;
              }
            }
          }

          .entry-summary {
            font-family: "Inter Light", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            color: #141414;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            a {
              transition: all 0.2s ease-out;
              transition: margin .25s;
              margin: 0 var(--spacing, 0px);
              position: relative;
              color: #141414;
              font-family: "Inter Extra-Bold", sans-serif;
              font-weight: 800;

              .svg-lines {
                --text: #fff;
                --line: #2B3044;
                --line-active: #2B3044;
                opacity: 0;
                width: 164px;
                height: 57px;
                position: absolute;
                left: 50%;
                bottom: -7px;
                transform: translate(-50%, 7px) translateZ(0);
                fill: none;
                stroke: var(--stroke, var(--line));
                stroke-linecap: round;
                stroke-width: 2px;
                stroke-dasharray: var(--offset, 69px) 278px;
                stroke-dashoffset: 361px;
                transition: stroke .25s ease var(--stroke-delay, 0s), stroke-dasharray .35s;
              }

              &:hover {
                --spacing: 15px;
                --stroke: var(--line-active);
                --stroke-delay: .1s;
                --offset: 180px;
                text-decoration: none;

                .svg-lines {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }

    .blog-pagination {
      margin-top: 110px;

      .list-of-links {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;

        .page-item {
          width: auto;

          .page-link {
            font-family: "Inter Medium", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #2B2A29;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0;
            background: none;
            border: none;
            width: 72px;
            height: 72px;
            border-radius: 4px;
            transition: all 0.5s ease;

            &:hover {
              background: #d6cfc7;
              opacity: 0.7;
            }
          }

          .page-link:focus {
            box-shadow: none;
          }

          .next-item,
          .prev-item {
            width: 180px;
            background: #2B2A29;
            border-radius: 4px;
            color: #FFF9EF;

            &:hover {
              background: #2B2A29;
            }
          }
        }

        .disabled {
          .page-link {
            background: #2B2A29;
            border-radius: 4px;
            color: #FFF9EF;
          }
        }
      }
    }
  }
}
